{% extends "main.html" %}

{% block content %}
    <section id="about">
        <h1>About</h1>
        <div class="presentation-panel">
            <h2>Welcome Home!</h2>
            <p>Homely Haven is a fiticious UK based estate agent.</p>
            <p>We offer a personalized customer service, competitive pricing, and an easy-to-use online platform for searching, selecting, and purchasing properties. We also provide helpful advice to our customers to ensure you find the perfect home.</p> 
        </div>
    </section>

    <section id="latest">
        <h1>Latest</h1>
        <div class="presentation-panel">
            {% include 'widgets/carousel.html' with carousel_mode='properties' %}
        </div>
    </section>

    <section id="news">
        <h1>News</h1>
        <div class="presentation-panel">
            {% for news_article in news_articles %}
                <div class="news-card">
                    <div class="news-image">
                        <img src="{{ MEDIA_URL }}/{{ news_article.picture }}" alt="{{ news_article.headline }}">
                    </div>
                    <div class="news-article">
                        <div class="news-headline">
                            <p><strong>{{ news_article.headline }}</strong></p>
                        </div>
                        <div class="news-text">
                            <p>{{ news_article.article }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}