{% extends "main.html" %}

{% block content %}
    {% include './dialogs/bookingsuccessmessage.html' %}
    {% include './dialogs/bookviewing.html' %}
    <h1>Your search results</h1>
    {% if items %}
        <div class="property-results">
            {% for item in items %}
                <div class="property-card">
                    <div class="property-image">
                        {% if item.picture %}
                            <img src="{{ MEDIA_URL }}/{{ item.picture }}" alt="{{ item.address_line_one }}">
                        {% endif %}
                    </div>
                    <div class="property-address">
                        <p>{{ item.address_line_one }}</p>
                        <p>{{ item.town }}</p>
                        <p>{{ item.postcode }}</p>
                    </div>
                    <div class="property-footer">
                        {% if request.user.id %}
                            <button id="book-viewing-{{ item.id }}" propertyid="{{ item.id }}" class="btn book-btn">Book Viewing</button>
                        {% endif %}
                        <button class="btn">Detail</button>
                    </div>
                </div>
            {% endfor %}
        </div>

        <script>
            const bookViewingBtns = document.querySelectorAll('.book-btn');
            const backdrop = document.querySelector('.backdrop');
            const successMessageModal = document.querySelector('.modal.success-message-modal');
            const modal = document.querySelector('.modal.booking-modal');
            if(bookViewingBtns.length > 0) {
                bookViewingBtns.forEach(bookViewingBtn => {
                    bookViewingBtn.addEventListener('click', (evt) => {
                        console.log('clicked', evt.target.getAttribute('propertyid'));
                        selectedProperty = parseInt(evt.target.getAttribute('propertyid'));
                        backdrop.classList.remove('backdrop-hidden');
                        modal.classList.remove('modal-hidden');    
                    });
                });
            }


            // document.addEventListener('DOMContentLoaded', () => {
    

            // });
        </script>
        {% include './paginator.html' %}
    {% endif %}
{% endblock %}

