<div  class="auth-dialog form-container">
    <form action="/accounts/signin/"  autocomplete="on" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">{{ form.username.label }}</label>
            {{ form.username }}
        </div>
        <div class="form-group">
            <label for="id_password">Password:</label>
            {{ form.password }}
        </div>
        <p><small>Forgot your password? click <a href="/accounts/forgot" class="linkonblue">here</a> to reset it.</small></p>
        <div class="btn-container">
            <button id="submit-register" class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>
