{% extends "main.html" %}



{% block content %}

{% include "dialogs/tandcdialog.html" %}

<div class="auth-dialog">
    {% if is_assignment_taker %}
        <h1>Register as Person with Assignment</h1>
    {% else %}
        <h1>Register to Offer to Do Assignments</h1>
    {% endif %}
    <form action=""  autocomplete="on" method="POST" class="capture-form">
      {% csrf_token %}
      <div class="form-group">
          <label for="username">Username:</label>
          {{ form.name }}
      </div>
      <div class="form-group">
          <label for="email">Email:</label>
          {{ form.email }}
      </div>
      <div class="form-group">
          <label for="pass">Password:</label>
          {{ form.password }}
      </div>
      <div class="form-group">
          <label for="passchk">Confirm password:</label>
          {{ form.passwordchk }}
      </div>
      {% include 'capcha.html' %}
      <div class="spacer"></div>
      <div class="form-inline">
          <label for="terms"><small>I have read and agree to to the <a id="clicktandc" class="linkonblue" href="/termsandconditions" target="_blank">terms and conditions</a></small></label>
          <input type="checkbox" name="terms" id="terms" required/>
      </div>
      <p class="form-error-message"></p>
      <div class="btn-group">
          <button id="submit-register" class="btn btn-primary submit-btn" type="submit">Submit</button>
      </div>
    </form>

</div>

<script>
    const tandcLink = document.querySelector('#clicktandc');

    tandcLink.addEventListener('click', (evt) => {
        evt.preventDefault();
        let backdrop = document.querySelector('.backdrop.tandc-dialog');
        let modal = document.querySelector('.modal.tandc-dialog');
        backdrop.classList.remove('backdrop-hidden');
        modal.classList.remove('modal-hidden');

    });

    document.addEventListener('DOMContentLoaded', () => {
        const submitBtn = document.querySelector('.submit-btn');
        const submitForm = document.querySelector('.capture-form');
        const capchaInput = document.querySelector('#capcha-input');

        submitBtn.addEventListener('click', (evt) => {
            let validFormCheck = submitForm.checkValidity();
            if(validFormCheck) {
                let messageArea = document.querySelector('#div-messages');
                messageArea.innerHTML = '';
                evt.preventDefault();
                //Check the capcha
                if(capchaInput.value === valString) {
                    submitForm.submit();
                } else {
                    const capchaError = `
                        <div class="alert alert-danger alert-dismissable">
                            <p>The code you have entered is icorrect, please try again or refresh to generate a new one.</p>
                        </div>
                    `
                    messageArea.innerHTML = capchaError;
                }   
            }
        });
    });
</script>
{% endblock %}