<div class="carousel">
    {% if carousel_mode == 'properties' %}
        {% include './properties.html' %}
    {% endif %}
    <button class="previous-button">Previous</button>
    <button class="next-button">Next</button>
</div>

<style>
    .slides {
        width: {{ slides_total_length }};
        animation: {{ animation_string }};
    }

    {{ slide_data }}
</style>

  <script>
    const slides = document.querySelector(".slides");
    const previousButton = document.querySelector(".previous-button");
    const nextButton = document.querySelector(".next-button");
    const animationString = '{{animation_string}}';
    let animTimeout = null;

    let index = 0;

    previousButton.addEventListener("click", async () => {
        const elementRect = slides.getBoundingClientRect();
        const elementIndex = Math.floor(elementRect.left / 500);
        console.log((elementIndex * -1) - 1);
        index = (elementIndex * -1) - 1;

        slides.style.animation = 'none';
        lastSlide = slides.removeChild(slides.children[slides.children.length-1]);
        let currentSlide =await slides.children[slides.children.length-1].cloneNode(true);
        slides.insertBefore(currentSlide,slides.children[0]);


        if(animTimeout) {
             clearTimeout(animTimeout);
        }
        animTimeout = setTimeout(() => {
            slides.style.animation = animationString;
            
        },3000);
    });

    nextButton.addEventListener("click", async () => {
        console.log('Slides', slides.children.length);
        const elementRect = slides.getBoundingClientRect();
        const elementIndex = Math.floor(elementRect.left / 500);
        console.log((elementIndex * -1) + 1);
        index = (elementIndex * -1) + 1;
        if(index === slides.children.length) {
            console.log('last slide');
            return;
        }
        slides.style.animation = 'none';
        //Move the slides around to change the order
        //remove the last slide
        let currentSlide =await slides.children[index].cloneNode(true);
        lastSlide = slides.removeChild(slides.children[slides.children.length-1]);
        //get the current slide
        //remove previous slides and add to the end
        for(i=0;i<index;i++) {
            let removedSlide = slides.removeChild(slides.children[i]);
            slides.append(removedSlide);
        }
        //Duplicate the lastslide
        slides.append(currentSlide);
        if(animTimeout) {
             clearTimeout(animTimeout);
        }
        animTimeout = setTimeout(() => {
            slides.style.animation = animationString;
            
        },3000);
    });
</script>
  