<div class="carousel">
    {% if properties|length > 0 %}
        <div class="slides" >
            {% for property in properties %}
                <div class="slide">
                    <img src="{{ MEDIA_URL }}/{{ property.picture }}" alt="{{ property.address_line_one }}">
                    <div class="property-title-banner">
                        <p>{{ property.address_line_one }}</p>
                    </div>
                    <!-- <p>{{ property.address_line_one }}</p> -->
                </div>
            {% endfor %}
            <div class="slide">
                <img src="{{ MEDIA_URL }}/{{ properties.first.picture }}" alt="{{ properties.first.address_line_one }}">
                <div class="property-title-banner">
                    <p>{{ properties.first.address_line_one }}</p>
                </div>
            </div>
        </div>
    {% endif %}
    <button class="previous-button">Previous</button>
    <button class="next-button">Next</button>
</div>

<style>
    slides {
        width: {{ slides_total_length }};
    }

    /* @keyframes slides {
        0% {
            transform: translateX(0px);
        }
        100% {
            transform: translateX(-{{ slides_total_length }}px);
        }
    } */

    @keyframes slides {
        0% {
            transform: translateX(0px);
        }
        20% {
            transform: translateX(-500px);
        }
        40% {
            transform: translateX(-1000px);
        }
        60% {
            transform: translateX(-1500px);
        }
        80% {
            transform: translateX(-2000px);
        }
        100% {
            transform: translateX(-{{ slides_total_length }}px);
        }
    }
</style>

  <script>
    const slides = document.querySelector(".slides");
    const previousButton = document.querySelector(".previous-button");
    const nextButton = document.querySelector(".next-button");
    let animTimeout = null;

    let index = 0;

    previousButton.addEventListener("click", async () => {
        //console.log('Slides', slides.children.length);
        const elementRect = slides.getBoundingClientRect();
        const elementIndex = Math.floor(elementRect.left / 500);
        console.log((elementIndex * -1) - 1);
        index = (elementIndex * -1) - 1;

        slides.style.animation = 'none';
        //if(index === -1) {
            //Remove last slide
            lastSlide = slides.removeChild(slides.children[slides.children.length-1]);
            let currentSlide =await slides.children[slides.children.length-1].cloneNode(true);
            slides.insertBefore(currentSlide,slides.children[0]);
            //return;
        // } else {

        // }

        if(animTimeout) {
             clearTimeout(animTimeout);
        }
        animTimeout = setTimeout(() => {
            //slides.style.transform = `translateX(-${index +1 * 500}px)`;
            slides.style.animation = 'slides 12s infinite'
            
        },3000);

        // index--;
        // if (index < 0) {
        //     index = slides.children.length - 1;
        // }
        // slides.style.transform = `translateX(-${index * 500}px)`;
    });

    nextButton.addEventListener("click", async () => {
        // index++;
        // if (index === slides.children.length) {
        //     index = 0;
        // }
        //console.log(3000 - slides.getBoundingClientRect().x);
        console.log('Slides', slides.children.length);
        const elementRect = slides.getBoundingClientRect();
        const elementIndex = Math.floor(elementRect.left / 500);
        console.log((elementIndex * -1) + 1);
        index = (elementIndex * -1) + 1;
        if(index === slides.children.length) {
            console.log('last slide');
            return;
        }
        //slides.style.transform = `translateX(-${index * 500}px)`;
        slides.style.animation = 'none';
        //Move the slides around to change the order
        //remove the last slide
        let currentSlide =await slides.children[index].cloneNode(true);
        lastSlide = slides.removeChild(slides.children[slides.children.length-1]);
        if(slides.children[index] === lastSlide) {
            console.log('The last slide is the same as the current one');
        }
        //get the current slide
        //let slidesCopy = [...slides.children];
        //remove previous slides and add to the end
        for(i=0;i<index;i++) {
            let removedSlide = slides.removeChild(slides.children[i]);
            slides.append(removedSlide);
        }
        //Duplicate the lastslide
        slides.append(currentSlide);
        [...slides.children].forEach(slide => {
            //console.log(slide);
        });
        if(animTimeout) {
             clearTimeout(animTimeout);
        }
        animTimeout = setTimeout(() => {
            //slides.style.transform = `translateX(-${index +1 * 500}px)`;
            slides.style.animation = 'slides 12s infinite'
            
        },3000);
    });

    // let element = document.querySelector(".slides");

    // // Set the initial position of the element
    // element.style.left = 0;

    // // Set the animation duration and timing function
    // element.style.transition = "1s ease-in-out";

    // // Start the animation loop
    // let startTime = Date.now();
    // let animationLoop = () => {
    //     let currentTime = Date.now();
    //     let elapsedTime = (currentTime - startTime) / 1000;
    //     element.style.left = elapsedTime * -100 + "px";
    //     //console.log('Element', element.offsetWidth);
    //     //2500
    //     requestAnimationFrame(animationLoop);
    // }
    // animationLoop();

</script>
  