

{% if properties|length > 0 %}
    <div class="presentation-panel carousel-alt">
        {% for property in properties %}
            <div class="property-heading">
                <p><strong>{{ property.address_line_one }}</strong></p>
                <p>{{ property.city }}</p>
                <p>{{ property.postcode }}</p>
            </div>
            <div class="property-picture">
                <img src="{{ MEDIA_URL }}/{{ property.picture }}" alt="{{ property.address_line_one }}">
            </div>
            <div class="property-footer">
                <div class="btn-group">
                    <button id="view-{{ property.id }}" property-id="{{ property.id }}" class="btn view-btn">View Property</button>
                </div>
            </div>
        {% endfor %}
    </div>

    <script>
        const properties = document.querySelectorAll('.view-btn');
        
        properties.forEach(item => {
            item.addEventListener('click', (e) => {
                const propertyId = parseInt(e.target.getAttribute('property-id'));
                console.log(propertyId);
                window.location.href = `/viewproperty/${propertyId}/`;
            });
        })

    </script>
{% endif %}