<!DOCTYPE html>
<html lang="en">

<head>
    <title>Homely Haven - Estate Agents UK</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Advent calendar creation">
    <meta name="keywords" content="calendar,advent,christmas">
    {% load static %}
    <link rel="stylesheet" href="{% static '/custom/css/style.css' %}" type="text/css">
</head>

<style>
    .hero-area {
        background: url("{%static 'custom/img/hero_5.jpg'%}") no-repeat center center/contain;
        height: 95vh;
        background-color: #e2dacd;
    }

    @media only screen and (max-width: 620px) {
        .hero-area {
            background: url("{%static 'custom/img/hero_5.jpg'%}") no-repeat center center/cover; 
        }
    }

</style>

<body>
    {% if request.user.id %}
        {% include 'navauthed.html' %}
    {% else %}
        {% include 'navunauthed.html' %}
    {% endif %}
    <header>

        {% if request.resolver_match.url_name == 'home' %}
            <!-- hero  -->
            <div class="hero-area">

            </div>
        {% endif %}
    </header>
    <main>
        <div class="page-content">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer>
        <p>Homely Haven &copy; {% now "Y" %}</p>
    </footer>

    <script>
        // make the navbar fixed when scrolled down
        window.onscroll = function() {
          const navbar = document.querySelector(".navbar");
          if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
            navbar.classList.add("sticky");
          } else {
            navbar.classList.remove("sticky");
          }
        };

        //smoth scrolling
        //Get all links
        const links = document.querySelectorAll('.navbar ul li a');

        //Loop through each link
        links.forEach(function(link){
            //Add click listener
            link.addEventListener('click', function(e){
                if(link.href.includes('#') && window.location.href.split('/').length <= 4) {
                    console.log('stinky linky',link.href.split('#'), window.location.href.split('/'));
                    const sectionId = '#' + link.href.split('#')[1];
                    //Prevent default scroll
                    e.preventDefault();
                    //Get section element
                    const section = document.querySelector(sectionId);
                    //Scroll to section
                    window.scrollTo({
                        top: section.offsetTop - 100,
                        behavior: 'smooth',
                    });
                }
   
            });
        });
    </script>
</body>

</html>