            <div class="terms">
                <p><strong>The purpose of this website is to allow users to register in order to book property viewings.</strong></p>
            

                <h2>Data and Privacy Policy</h2>
                <div class="info-text">
                    <h2>Registration</h2>
                    <p>We collect your email address for the purpose of registration only. 
                        None of the information we collect is shared with third-parties. We do not use data for tracking purposes, promotions or sales.</p>
                    <p>We will inform you of a data breach, should one occur.</p>
                    <p>You have the right for any personal data to be removed from our systems at any time. This can be requested by contacting us directly.</p>
                </div>
                <h2>Use of Website</h2>
                <div class="info-text">
                    <p>By using this website you are agreeing to the following:</p>
                    <p>We reserve the right to remove any account not abiding by the rules above immediately and without warning.</p>
                    <p>We reserve the right to remove any account or remove access to this site at any time and without warning should 
                        we feel it is necessary.
                    </p>
                </div>
                <h2>Cookies</h2>
                <div class="info-text">
                    <p>This websie only uses a session cookie which allows you to log in and out of the site. By registering, you agree to the use and 
                        storage of this cookie which is essential for the login to function.
                    </p>
                    <p>There is no other use of cookies on this site. Third party cookies are not used.</p>
                </div>
            </div>