            <div class="terms">
                <p><strong>The purpose of this website is to allow users to register and create 
                        an advent calendar which they can share with friends.</strong></p>
                
                <h3><strong>The author of this site is in no way responsible for the user content 
                    created here. Any calendar posted on the site is purely the creation of the user and 
                    in no way reflets opinions, views or intentions of the website author.
                </strong></h3>

                <h2>Data and Privacy Policy</h2>
                <div class="info-text">
                    <h2>Registration</h2>
                    <p>We collect your email address for the purpose of registration only. 
                        None of the information we collect is shared with third-parties. We do not use data for tracking purposes, promotions or sales.</p>
                    <p>We will inform you of a data breach, should one occur.</p>
                    <p>You have the right for any personal data to be removed from our systems at any time. This can be requested by contacting us directly.</p>
                    <h2>Image Upload</h2>
                    <p>The website allows you to upload images to your calendar. You must be aware that any images you upload are publically accessible. 
                        In uploading images you are agreeing that these images can be viewed by anyone who chooses to browse the website.
                    </p>
                </div>
                <h2>Use of Website</h2>
                <div class="info-text">
                    <p>By using this website you are agreeing to the following:</p>
                    <ul>
                        <li>No Spam, Advertising, Self-promotion material will be uploaded.</li> 
                        <li>Do NOT post copyright-infringing material. Providing or asking for information on how to illegally obtain copyrighted materials is forbidden.</li>
                        <li>Do NOT post “offensive” images, links or text. Any material which constitutes defamation, harassment, or abuse is strictly prohibited. Material that is sexually or otherwise obscene, racist, or otherwise overly discriminatory is not permitted.</li> 
                        <li>Remain respectful of other members at all times.</li>
                        <li>Uploaded images must NOT contain pornography, images depicting violence or images promoting a political or idelogical view point.</li>
                    </ul>
                    <p>We reserve the right to delete any content deemed inappropriate at any time without warning.</p>
                    <p>We reserve the right to remove any account not abiding by the rules above immediately and without warning.</p>
                    <p>We reserve the right to remove any account or remove access to this site at any time and without warning should 
                        we feel it is necessary.
                    </p>
                </div>
                <h2>Cookies</h2>
                <div class="info-text">
                    <p>This websie only uses a session cookie which allows you to log in and out of the site. By registering, you agree to the use and 
                        storage of this cookie which is essential for the login to function.
                    </p>
                    <p>There is no other use of cookies on this site. Third party cookies are not used.</p>
                </div>
            </div>